/*
	Theme Name:   Kuo
	Theme URI:    http://mz.run
	Description:  Kuo theme
	Author:       cloudwp
	Author URI:   https://cloudwp.pro
	Template:     savoy
	Version:      1.0
*/


/* Child theme CSS
--------------------------------------------------------------- */

.woocommerce-message {
    display: none;
}

body.woocommerce-cart .nm-right-menu,
body.woocommerce-checkout .nm-right-menu {
	display: none;
}


body.woocommerce-checkout .nm-validation-inline-notices .form-row.woocommerce-invalid-required-field::after {content: "必填項目";}